[user]
	name = David.Gao
	email = david.alpha.fox@gmail.com
[push]
	default = simple
[i18n]
	commitencoding = utf-8
[core]
	quotepath = false
	excludesfile = /Users/david/.gitignore_global
	ignorecase = false    
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
