ac-comphist.dat
auto-save-list
session.*
quicklisp/local-projects
quicklisp/cache
quicklisp/tmp
quicklisp/dists
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
bundle
quicklisp
quicklisp.lisp
.emacs.d/rfc/*
\*.elc
quicklisp/
