!Xft.dpi: 121
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb

!Xcursor.theme: whitelarge
Xcursor.size: 32
XTerm*scrollBar: false
XTerm*utf8: 2
XTerm*termName: xterm-256color
XTerm*faceName: xft:Dejavu Sans Mono:pixelsize=18
XTerm*faceNameDoublesize: xft:wenquanyi bitmap song:pixelsize=18:antialias=True
XTerm*metaSendsEscape: true
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*locale: utf8
XTerm*xftAntialiass: true
XTerm*cjkWidth: true
