#include ".Xresources-solarized"
!Xft.dpi: 121
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb

!Xcursor.theme: whitelarge
Xcursor.size: 32
XTerm*loginShell: true
XTerm*locale: utf8
XTerm*scrollBar: false
*xterm.termName: xterm-256color
XTerm*faceName: xft:Dejavu Sans Mono:pixelsize=18
XTerm*faceNameDoublesize: xft:wenquanyi bitmap song:pixelsize=18:antialias=True
XTerm*metaSendsEscape: false
XTerm*highlightSelection: true
!XTerm*trimSelection: true
!XTerm*locale: true
XTerm*xftAntialiass: true
XTerm*cjkWidth: false
XTerm*bellIsUrgent: true
XTerm*allowBoldFont: false
XTerm*eightBitInput: false
XTerm*backarrowKey: false
XTerm*openIm: true
*inputMethod: SCIM
!*.vt100.font: fixed
*.vt100.encodingMode: true
